---
import { SITE_TITLE } from "@/consts";

const today = new Date();
---

<section
  id="footer"
  class="w-full grid relative place-items-center text-center py-4 bg-white/[0.001]"
>
  <div class="px-10 py-3 border-2 border-white">
    &copy; {today.getFullYear()}
    {SITE_TITLE}. All rights reserved.
  </div>
</section>
